<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sigge</title>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'add' %>
</head>
<body>
  <div id="root">
    <nav>
      <div class="nav-wrapper">
        <div class="nav-title">
          <span>Sigge</span>
          <%= link_to "", "/", class: "overlay" %>
        </div>
        <ul class="nav-list">
          <li class="nav-list-item nav-link">
            <svg class="nav-link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
            </svg>
            <%= link_to "", "/add", class: "overlay" %>
          </li>
          <li class="nav-list-item">
            <div class="nav-profile-container">
              <button class="nav-profile-button">
                <svg class="nav-profile-icon" viewBox="0 0 496 512">
                  <path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 96c48.6 0 88 39.4 88 88s-39.4 88-88 88-88-39.4-88-88 39.4-88 88-88zm0 344c-58.7 0-111.3-26.6-146.5-68.2 18.8-35.4 55.6-59.8 98.5-59.8 2.4 0 4.8.4 7.1 1.1 13 4.2 26.6 6.9 40.9 6.9 14.3 0 28-2.7 40.9-6.9 2.3-.7 4.7-1.1 7.1-1.1 42.9 0 79.7 24.4 98.5 59.8C359.3 421.4 306.7 448 248 448z"></path>
                </svg>
              </button>
              <ul class="profile-list">
                <li class="profile-list-item">
                  <span>Logout</span>
                  <%=button_to "", "/logout", method: :post, class: "overlay" %>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <main>
      <div class="content">
        <h1>Add a New Task</h1>

        <%= form_for @task do |f| %>
          <div class="field">
            <%= f.label :task %>
            <%= f.text_field :task %>
          </div>
        
          <div class="field">
            <%= f.label :status_ID %>
            <%= f.collection_select(:status_ID, Status.all, :id, :name, prompt: 'Select a status') %>
          </div>
        
          <div class="field">
            <%= f.label :deadline %>
            <%= f.date_field :deadline %>
          </div>
        
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
    </main>
    <footer></footer>
  </div>
  <%= javascript_include_tag 'add', 'main' %>
</body>
</html>